:root {
    --dark-blue: #00577d;
    --blue: #008aad;
    --yellow: #ffa409;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Gotham, sans-serif;
    background-image: url(https://www.eps.com.do/wp-content/themes/eps/images/bg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#nav {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    height: auto;
    width: 100%;
}

#header {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 60px;
    width: 100%;
}

#header p {
    color: white;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
}

a{
    color: var(--dark-blue);
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: var(--blue);
}

#cuenta{
    color: var(--white);
    background-color: var(--yellow);
}

#socio{
    color: var(--white);
    background-color: var(--yellow);
}
section {
    padding-top: 200px; 
    margin-bottom: 50px;
}

#inicio {
    padding-top: 140px;
    text-align: center;
    background-color: var(--dark-blue);
    color: var(--white);
}

button {
    cursor: pointer;
    border-radius: 40px;
    border: none;
    font-weight: bold;
    transition: 0.3s;
}

#socioGratis {
    background-color: var(--yellow);
    color: var(--white);
    padding: 15px 30px;
    font-size: 20px;
    margin: 20px 0;
}

#eps, #proyecto, #clientes, #sucursales, #promociones{
    color: var(--dark-blue);
    padding: 15px;
    font-weight: bold;
}

#eps{
    width: 100%;
    max-width: none;
    padding: 60px, 0;
    display: block;
    text-align: center;
    margin: 0;
}

#sucursales{
    color: var(--dark-blue);
    font-weight: bolder;
    margin-top: 150px;
}

#promociones img:hover, iframe:hover{
    transform: scale(1.08);
    transition: 0.3s;
}

#eps h1, #proyectos h1, #tiendas h1, #sucursales h1, #promociones h1{
    text-align: center;
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 45px;
}

.contenedor-proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
}

.contenedor-proyectos img {
    width: calc(50% - 20px);
    height: auto;
    border-radius: 5px;
    transition: 0.3s;
}

.contenedor-proyectos img:hover {
    transform: scale(1.02);
}

#tiendas{
    padding-top: 0%;
}

#tiendas img{
    cursor: pointer;
}

#tiendas img:hover{
    transform:scale(1.1);
    transition: 0.3s;
}

.layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 1400px;
    max-width: 1400px;
    margin: 50px auto 0 auto; 
    padding: 0 5%;
}

.texto {
    max-width: 600px;
}

.texto h2{
    margin-top: 0;
    margin: 10px;
    padding-left: 10px;
}

.texto p{
    flex: 1.5;
    margin: 0;
}

.col-direccion {
    flex: 1;
    margin: 20px 0;
}

.card-direccion {
    background-color: var(--white);
    padding: 20px;
    border-radius: 8px;
    border-top: 5px solid var(--yellow);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
    width: 700px;
}

.cajas {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.cajas img {
    max-width: 300px;
    height: auto;
    display: block;
}

hr{
    width: 100px;
    border: none;
    background-color: var(--yellow);
    height: 10px;
}

footer {
    background: var(--blue);
    color: var(--white);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

    footer hr {
    width: 100px;
    height: 1px;
    background-color: var(--white);
    border: none;
    margin: 20px auto;
    display: block;
}

.links{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.links a{
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 25px;
    transition: 0.3s;
}

.links a:hover{
    background-color: var(--white);
    color: var(--blue);
    transform: scale(1.03);
    transition: 0.3s;
}

#subir {
    color: var(--blue);
    background-color: var(--white);
    border-radius: 50px;
    padding: 15px 30px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
    font-size: 16px;
    border: none;
}

#subir:hover {
    background-color: var(--white);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    #nav {
        flex-direction: column;
        text-align: center;
    }
    
    #header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    #logo {
        width: 150px;
    }

    h1 {
        font-size: 28px;
    }

       footer {
        flex-direction: column;
        text-align: center;
    }
}

    @media (max-width: 1024px) {
    .layout {
        flex-direction: column;
        padding: 20px;
        width: 100%;
    }
    
    .texto, .col-direccion, .cajas {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .card-direccion{
        width: 100%;
    }
    

    .cajas {
        justify-content: center;
        order: 1;
    }
}

@media (max-width: 768px) {

    footer hr {
        width: 300px;
        height: 1px;
        margin: 10px 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #subir {
        width: 80%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}